* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;  
  outline: none;
  border: none;
}
body{
  line-height: 1.6em;
  font-family: cursive ;
  background-color:#292b2c;
}
.container-body{
  border-radius: 10px;
  margin: 50px 20% 20px 20%;
  padding: 20px;
  box-shadow: 0px 0px 2px 0px #ffffffc2;
}
.form-control{
  margin: 50px 20% 20px 20%;
  display: flex;
}

.text-input{
  margin-top: 10vh;
  float: left;
  width: 70%;
  height: 50px;
  margin: auto;
  padding-left: 20px;
  font-size: 30px;
  border-radius: 30px;
  background-color: #292b2c;
  color: #ffffffc2;
  box-shadow: 0px 0px 2px 0px #ffffffc2;
}

.submit-btn{
  float: right;
  font-size: 30px;
  height: 50px;
  width: 50px;
  margin: auto;
  color:whitesmoke;
  background-color:#292b2c;
  box-shadow: 0px 0px 2px 0px #ffffffc2;
  border-radius: 50%;
  cursor: pointer;
}
input[type="submit"]:hover, input[type="text"]:hover, .container-body:hover{
  box-shadow: 0px 0px 20px 0px #ffffffc2;
}
.header {
  margin: 5vh 20% 20px 20%;
  text-align: center;
  padding: 30px;
  color: whitesmoke;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px #ffffffc2;
}